{% extends 'base.html.twig' %}

{% block title %}Hello MontanteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="sidebar" style="text-align:right">
        <a>Bankeroll {{ currentBankroll.name }}: {{ currentBankroll.currentBankroll }}</a>
    </div>

    <table class="table mx-auto table-striped table-hover">
        <thead>
            <tr>
                <td colspan="8"> 
                    Nombre de montantes : {{ montantes|length }}
                </td>
            </tr>
            <tr>
                <th>Début de la montante</th>
                <th>Nombre de paliers</th>
                <th>Mise de départ</th>
                <th>Objectif</th>
                <th>Résultat de la montante</th>
                <th>Gain</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% if montantes is empty %}
                <tr>
                    <td colspan="8" style="text-align:center;">Aucun résultat</td>
                </tr>
            {% endif %}
            {% for montante in montantes %}
                <tr>
                    <td>{{ montante.dateStart|date("d-M-y") }}</td>
                    <td>{{ montante.nbPalier }}</td>
                    <td>{{ montante.miseStart }}</td>
                    <td>{{ montante.objectif }}</td>
                    <td>
                    {% if montante.resultMontante == "Valide" %}
                        <span class="fa fa-arrow-circle-up" aria-hidden="true" style="color: green"></span> 
                    {% elseif montante.resultMontante == "Perdu" %}
                        <span class="fa fa-arrow-circle-down" aria-hidden="true" style="color: red"></span> 
                    {% elseif montante.resultMontante == "Annulé" %}    
                        <span class="fa fa-times-circle" aria-hidden="true" style="color: grey"></span>
                    {% endif %}
                    </td>
                    <td>{{ montante.gain }}</td>
                    <td class="form-row align-items-end">
                        <a href="{{ path('showmontante', {'id' : montante.id}) }}" class="btn btn-primary">
                            <span class="fa fa-eye" aria-hidden="true"></span> 
                        </a>
                        <a href="#" class="btn btn-primary">
                            <span class="fa fa-edit" aria-hidden="true"></span>           
                        </a>
                        <a href="#" class="btn btn-danger">
                            <span class="fa fa-remove" aria-hidden="true"></span>           
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {{ knp_pagination_render(montantes) }}
    </div>

    <div style="text-align:right;">
        <a href="{{ path('createmontante') }}" class="btn btn-success">
            <span class="fa fa-plus" aria-hidden="true"></span>           
        </a>
    </div>
</div>
{% endblock %}