{% extends 'base.html.twig' %}

{% block title %}Hello MontanteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="sidebar" style="text-align:right">
        <a>Bankeroll : {{ montante.bankroll.currentBankroll }}</a>
    </div>

    <table class="table mx-auto table-striped table-hover">
        <thead>
            <tr>
                <td colspan="7"> 
                    Nombre de paliers : {{ montante.nbPalier }}
                </td>
            </tr>
            <tr>
                <th>Palier</th>
                <th>Paris</th>
                <th>Mise</th>
                <th>Côte</th>
                <th>Résultat du paris</th>
                <th>Gain</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for palierMontante in paliersMontante %}
                {% if palierMontante.betTest is empty %}
                    <tr>
                        <td>{{ palierMontante.numberPalier }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="{{ path('createbettest', {'montanteid' : montante.id, 'numberpalier' : palierMontante.numberPalier}) }}" class="btn btn-success">
                                <span class="fa fa-plus" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ palierMontante.numberPalier }}</td>
                        <td>#</td>
                        <td>{{ palierMontante.betTest.mise }}</td>
                        <td>{{ palierMontante.betTest.cote }}</td>
                        <td>
                            {% if palierMontante.betTest.resultBet == "Valide" %}
                                <span class="fa fa-arrow-circle-up" aria-hidden="true" style="color: green"></span> 
                            {% elseif palierMontante.betTest.resultBet == "Perdu" %}
                                <span class="fa fa-arrow-circle-down" aria-hidden="true" style="color: red"></span> 
                            {% elseif palierMontante.betTest.resultBet == "Annulé" %}    
                                <span class="fa fa-times-circle" aria-hidden="true" style="color: grey"></span>
                            {% endif %}
                        </td>
                        <td>{{ palierMontante.betTest.gain }}</td>
                        <td>
                            {% if palierMontante.betTest is empty  %}
                                <a href="{{ path('createbettest', {'montanteid' : montante.id, 'numberpalier' : palierMontante.numberPalier}) }}" class="btn btn-success">
                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('showgametestbettest', {'id' : palierMontante.betTest.id}) }}" class="btn btn-primary">
                                    <span class="fa fa-eye" aria-hidden="true"></span>
                                </a>
                                <a href="{{ path('updatebettest', {'id' : palierMontante.betTest.id }) }}" class="btn btn-primary">
                                    <span class="fa fa-edit" aria-hidden="true"></span>           
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}